        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            background: url("/static/images/fon.jpg") no-repeat;
            box-sizing: 100%;
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            border: none;
            background-color: rgba(30, 28, 28, 0.7);
            background-blend-mode: multiply;
        }
        
        .generate_img {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .glav_h1 {
            font-size: 40px;
            margin-top: 200px;
            transition: 0.7s;
            color: #fff;
            font-family: 'Abril Fatface', sans-serif;
        }
        
        .glav_h1:hover {
            transform: scale(1.07);
        }
        
        .labels {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            margin: 15px;
        }
        
        .labels_input {
            width: 300px;
            border-radius: 50px;
            background-color: #f18282;
            margin: auto;
            font-family: 'Merriweather', serif;
        }
        
        .form {
            background-color: #fff;
            background-size: cover;
            opacity: 0.6;
            margin-top: 60px;
            border-radius: 50px;
            width: 600px;
            height: 600px;
            padding: 10px;
            text-align: center;
            transition: 0.6s;
        }
        
        .form:hover {
            background-color: #fff;
            transform: scale(1.03);
        }
        
        .labels_input {
            display: block;
            width: 80%;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 0.75rem;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #bdbdbd;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
        }
        
        .labels_input:hover {
            background-color: #bfc1ce;
        }
        
        .labels_text {
            padding: 0px;
            font-size: 21px;
            color: #272424;
            margin-left: 50px;
            text-align: left;
            display: block;
            margin-bottom: 0.25rem;
            font-family: 'Roboto', serif;
        }
        
        .form_h1 {
            font-size: 30px;
            color: #272424;
            padding: 10px;
            font-family: 'Ultra', serif;
        }
        
        .style_text {
            margin-top: 20px;
            margin-left: 50px;
            font-size: 20px;
        }
        
        .labels_input:nth-child(1) {
            margin-bottom: 200px;
        }
        
        .submit {
            position: relative;
            transition: all .45s ease-Out;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
            height: 60px;
            font-size: 20px;
            border-radius: 20px;
            background-color: #484848;
            color: #fff;
            border: none;
            outline: none;
            -webkit-transition-duration: 0.4s;
            /* Safari */
        }
        
        .submit:after {
            content: "";
            background: #90EE90;
            display: block;
            position: absolute;
            padding-top: 300%;
            padding-left: 350%;
            margin-left: -20px!important;
            margin-top: -120%;
            opacity: 0;
            transition: all 0.8s
        }
        
        .submit:active:after {
            padding: 0;
            margin: 0;
            opacity: 1;
            transition: 0s
        }
        
        .label4 select {
            width: 300px;
            height: 30px;
        }
        
        footer {
            margin-top: 400px;
            background-color: #181818;
            padding-bottom: 80px;
            width: 100%;
        }
        
        .about_us {
            color: #b4b4b4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }