<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ИИ для генерации обложки для видео</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit&family=Libre+Baskerville:ital@1&family=Lobster&family=Merriweather&family=Oswald&family=Roboto:wght@500&family=Ultra&family=Young+Serif&display=swap" rel="stylesheet">


</head>

<body>
    {% block body %} {% endblock body %}
    <footer>
        <div class="about_us">
            <h2>Разработчики:</h2>
        </div>
    </footer>

</body>

</html>